{% load static %}
<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
		<link rel="stylesheet" href="{% static 'assets/css/app/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fancybox/jque' %}ry.fancybox.min.css">
		<link rel="stylesheet" href="{% static 'assets/css/app/style.css' %}">
	</head>
	<body>
		<div class="main-wrapper">
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="{% static 'assets/img/logof.png' %} " class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="{% static 'assets/img/logof.png' %} " class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu">
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="login-link">
								<a href="{% url 'logout' %}">Logout</a>
							</li>
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'logout' %}">logout</a>
						</li>
						<li class="nav-item">
							<div id="google_translate_element" style="border:2px solid #09e5ab;padding:10px 15px !important;background-color:#09e5ab"></div>
						</li>
					</ul>
				</nav>
			</header>
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'doctor-home' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Doctor Profile</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<img src="{{ object.image.url }}" class="img-fluid" alt="User Image">
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name">{{ object.name }}</h4>
										<p class="doc-speciality">{{ object.qualification }}</p>
										<p class="doc-department"><img src="{% static 'assets/img/specialities/specialities-05.png' %}" class="img-fluid" alt="Speciality">{{ object.specalization }}</p>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">(35)</span>
										</div>
										<div class="clinic-details">
											<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{ object.location }}</p>
											<ul class="clinic-gallery">
												<li>
													<a href="{% static 'assets/img/features/feature-01.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'assets/img/features/feature-01.jpg' %}" alt="Feature">
													</a>
												</li>
												<li>
													<a href="{% static 'assets/img/features/feature-02.jpg' %}" data-fancybox="gallery">
														<img  src="{% static 'assets/img/features/feature-02.jpg' %}" alt="Feature Image">
													</a>
												</li>
												<li>
													<a href="{% static 'assets/img/features/feature-03.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'assets/img/features/feature-03.jpg' %}" alt="Feature">
													</a>
												</li>
												<li>
													<a href="{% static 'assets/img/features/feature-04.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'assets/img/features/feature-04.jpg' %}" alt="Feature">
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="doc-info-right">
									<div class="doctor-action">
										<a href="http://localhost:3000/" target="_blank" class="btn btn-white msg-btn">
											<i class="far fa-comment-alt"></i>
										</a>
										<a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
											<i class="fas fa-phone"></i>
										</a>
										<a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
											<i class="fas fa-video"></i>
										</a>
									</div>
									<div class="clinic-booking">
										<a class="apt-btn" href="{% url 'book-appoinments' %}">Book Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<footer class="footer">
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static 'assets/img/logof.png' %}" width="200" height="150" alt="logo">
									</div>
									<div class="footer-about-content">
										{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> {% endcomment %}
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div> 
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="http://localhost:3000/" target="_blank">Chat</a></li>
										<li><a href="{% url 'home' %}">Patient Dashboard</a></li>
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> Sri Krishna College of Techonology <br> Coimbatore </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+91 98765 43210
										</p>
										<p class="mb-0">
											<i class="fas fa-globe"></i>
											Studentgroup@skct.edu.in
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="footer-bottom">
					<div class="container-fluid">
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2021 Doctor. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<div class="modal fade call-modal" id="voice_call">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="call-box incoming-box">
							<div class="call-wrapper">
								<div class="call-inner">
									<div class="call-user">
										<img alt="User Image" src="{{ object.image.url }}" class="call-avatar">
										<h4>Dr. Darren Elder</h4>
										<span>Connecting...</span>
									</div>							
									<div class="call-items">
										<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
										<a href="voice-call.html" class="btn call-item call-start"><i class="material-icons">call</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade call-modal" id="video_call">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="call-box incoming-box">
							<div class="call-wrapper">
								<div class="call-inner">
									<div class="call-user">
										<img class="call-avatar" src="{{ object.image.url }}" alt="User Image">
										<h4>Dr. Darren Elder</h4>
										<span>Calling ...</span>
									</div>							
									<div class="call-items">
										<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
										<a href="video-call.html" class="btn call-item call-start"><i class="material-icons">videocam</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>	
		<script src="{% static 'assets/js/app/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/app/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/app/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
		<script src="{% static 'assets/js/app/script.js' %}"></script>
	</body>
</html>